
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet');

* {
    padding: 0;
    margin: 0;
}

nav {
    font-family: rubik;
    font-size: 15px;
    justify-content: center;
    padding: 50px;
    margin: 0 15px;
}

@media screen and (max-width:768px) {
    .imgcarouselcine {
        height: 300px; object-fit: cover;
    }
}

@media screen and (max-width:768px) {
    .imginicio {
        height: 400px; object-fit: cover;
    }
}

@media screen and (min-width:768px) {
    .imginicio {
        height: 600px; object-fit: cover;
    }
}

@media screen and (max-width:768px) {
    #cine {
        font-size: 25px;
    }    
}

@media (max-width: 768px) {
    .carousel-caption h5 {
        font-size: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

header a:hover {
    background-color: rgb(157, 115, 0);
}

.navbar-toggler-icon {
    background-color: rgb(157, 115, 0);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    width: 100%;
}

.container_text {
    font-size: 12px;
    color: wheat;
    text-align: center;
}

.carousel-img-teatro img {
    filter: brightness(50%);
    height: 500px;
    object-fit: cover;
}

.carousel-img-teatro img:hover {
    filter: grayscale(100%);
}

.imgindex {
    height: 400px;
    width: auto;
    object-fit: cover;
}

.carousel-lut img {
    filter: brightness(50%);
    height: 300px;
    object-fit: cover;
}

.carousel-lut img:hover {
    filter: grayscale(100%);
}

.momentt {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.momentt > h2 {
    font-size: 5rem;
    color: rgb(157, 115, 0);
}

.momentt > h3 {
    font-size: 2rem;
    padding: 0.5rem;
}

.imgteatro {
    display: flex;
    justify-content: space-evenly;
    height: 450px;
}

.imgcine {
    height: 250px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.imglisistrata > img {
    width: 600px;
}

.amyb {
    object-position: center;
}

.amyb2 {
    object-position: bottom;
}

.imgtop {
    object-position: top;
}

.imgtop2 {
    object-position: 30% 30%;
}

.contenedor-imagen {
    position: relative;
}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.focus:focus {
    background-color: yellow;
}

.social_media > a {
    font-size: 30px;
    text-decoration: none;
    color:rgb(157, 115, 0);
    margin: 0 15px;
}

.social_media a:hover {
    transform: scale(1.5);
    filter: brightness(1.2);
}

input, label, textarea {
    width: 100%;
    border-radius: 4px;
    text-align: start;
    margin-top: 20px;
}

.imgfin img {
    margin: 10px;
    height: 400px;
    transition: transform 0.7s ease, filter 0.7s ease;
}

.prensa1:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.puerto1:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.formulario {
    width: 50%;
    margin: auto;
}